*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #dcdcdc;
}
.header{
    width: 100%;
    display: flex;
    background-color: #EC3237;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.imglogo{
    width: 120px;
    height: 80px;
    margin-left: 100px; 
}
.logo{
margin-right: 200px;
color: red;
}

.search form{
    display: block;
    width: 500px;
    position: relative;
}
.search form input{
    width: 500px;
    height: 34px;
    border: none;
    font-size: 14px;
    padding: 0 60px 0 10px;
    background: #fff;
    
}
.icon-search{
    width: 50px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top :-10;
    right: 0;
    background: rgba(7, 2, 1, 0.829);
    color:white;
    cursor: pointer;
}
.icon-search:hover{
    background-color: black;
}
.gio{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.gio a{
    color: #007bff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.back-to-top{
    display: block;
    position: fixed;
    bottom: 40%;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #e70d0d;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 99px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: rgba(10, 3, 1, 0.815);
    height: 50px;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.icon1{
    color: rgb(255, 255, 255);
}
.f-warp{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: white;
    height: 1524px;
    border: 1px solid black;
}
.mb-head{
    display: block;
    list-style-type: none; 
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
    cursor: pointer;
}

.mb-head li+li:before {
    content: '/';
    display: inline-block;
    margin-left: 5px;
    color: #898989;
}
.mb-title{
    cursor: pointer;
}
.mb-title h3 {
    font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


.mobile{
    /* margin-top: 20px; */
    margin-bottom: 50px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-around;
   
}
.mb-form{
    width: 220px;
    height: 300px;
    background-color: #fff;
    border: 1px solid black;
    text-align: center;
}
a:link{
    text-decoration: none;
}
.price strong{
    font-size: 20px;
    font-weight: bold;
    color: #383838;
    display: inline;
}
.price strike{
    font-size: 16px;
    color: #555353;
    display: inline;
}
.buy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.buy button strong{
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    background-color: rgba(255, 60, 0, 0.836);
    color: white;
    cursor: pointer;
}
.buy button strong:hover{
    background-color: rgb(255, 38, 0);
}
a:link{
    text-decoration: none;
}
a p:hover{
    color: red;
    text-decoration: none;
}
.price strong:hover{
    color: red;
    text-decoration: none;
}
.price strike:hover{
    color: red;
    text-decoration: none;
}