*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #dcdcdc;
}
header{
    width: 100%;
    display: flex;
    background-color: rgb(255,203,1);
    align-items: center;
}

.imglogo{
    width: 90px;
    height: 80px;
    margin-left: 100px; 
}
.logo{
margin-right: 200px;
color: red;
}

.search form{
    display: block;
    width: 500px;
    position: relative;
}
.search form input{
    width: 500px;
    height: 34px;
    border: none;
    font-size: 14px;
    padding: 0 60px 0 10px;
    background: #fff;
    
}

.icon-search{
    width: 50px;
    height: 34px;
    display: inline-block;
    position: absolute;
    top :-10;
    right: 0;
    background: rgb(7, 2, 1);
    color:white;

}

.gio{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.content{
    display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
   background-color: rgba(10, 3, 1, 0.815);
   height: 50px;
   align-items: center;
}
.icon1{
    color: rgb(255, 255, 255);
}
.f-warp{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: white;
    height: 1324px;
}
.mb-head{
    display: block;
    list-style-type: none; 
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
}

.mb-head li+li:before {
    content: '/';
    display: inline-block;
    margin-left: 5px;
    color: #898989;
}
.gh-top{
    text-transform: uppercase;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.title-ttkh{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #d0021b;
    margin-bottom: 25px;
    padding-top: 20px;
    text-align: center;
    border-top: 2px solid rgb(175, 175, 175);
}
.ttkh li{
    display:flex;
    justify-content: center;
     margin-bottom: 30px;

}
.ttkh li input{
    height: 36px;
    padding: 6px 12px;
    width: 600px;
    font-size: 13px;
    border: solid 1px #ccc;
    border-radius: 2px;
}
.dathang{
    display: flex;
    height: 50px;
    border-radius: 3px;
    justify-content: center;
}
.buy{
    display: flex;
    justify-content: center;
}
.buy button strong{
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    background-color: red;
    color: white;
}


item-giohang{
    display: flex;
    justify-content: center;
}