*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #dcdcdc;
    font-family: Arial,Helvetica,sans-serif;
}
header{
    width: 100%;
    display: flex;
    background-color: #EC3237;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.imglogo{
    width: 120px;
    height: 80px;
    margin-left: 100px; 
}
.logo{
margin-right: 200px;
color: red;
}

.search form{
    display: block;
    width: 500px;
    position: relative;
}
.search form input{
    width: 500px;
    height: 34px;
    border: none;
    font-size: 14px;
    padding: 0 60px 0 10px;
    background: #fff;
    
}
.icon-search{
    width: 50px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top :-10;
    right: 0;
    background: rgba(7, 2, 1, 0.829);
    color:white;
    cursor: pointer;
}
.icon-search:hover{
    background-color: black;
}
.result-search{
    width: 100%;
    display: block;
    position: absolute;
    z-index: 11;
}
.result-search1{
    margin-right: 50px;
    border-radius: 2px;
    border: 1px solid;
    background-color: #fff;
    
}
.result-search ul{
    list-style-type: none;
    width: 100%;
}
.result-search ul li a{
    display: table;
    display: flex;
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #e8e8e8;
    
}
.result-search ul li a div{
    display: table-cell;
    vertical-align: top;
    padding-left: 50px;
    font-size: 16px;
}
.result-search ul li a div h4{
    font-size: 14px;
    line-height: 1.29;
    color: #505050;
    margin-bottom: 6px;
}
.result-search ul li a div p{
    font-size: 14px;
    font-weight: bold;
    color: #d0021b;
    display: inline-block;
    margin-right: 15px;
}

.gio{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.gio a{
    color: #007bff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.back-to-top{
    display: block;
    position: fixed;
    bottom: 40%;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #e70d0d;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 99px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: rgba(10, 3, 1, 0.815);
    height: 50px;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.icon1{
    color: rgb(255, 255, 255);
}
.f-warp{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: white;
    height: 1524px;
    border: 1px solid black;
}
.mb-head{
    display: block;
    list-style-type: none; 
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
}

.mb-head li+li:before {
    content: '/';
    display: inline-block;
    margin-left: 5px;
    color: #898989;
}
.gh-top{
    text-transform: uppercase;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.title-ttkh{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 18px;
    font-weight: bold;
    color: #d0021b;
    margin-bottom: 25px;
    padding-top: 20px;
    text-align: center;
    border-top: 2px solid rgb(175, 175, 175);
}
.ttkh li{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;

}
.ttkh li input{
    height: 36px;
    padding: 6px 12px;
    width: 600px;
    font-size: 13px;
    border: solid 1px #ccc;
    border-radius: 2px;
}
.dathang{
    display: flex;
    height: 50px;
    border-radius: 3px;
    justify-content: center;
}
.buy{
    display: flex;
    justify-content: center;
}
.buy button strong{
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    background-color: rgba(255, 60, 0, 0.836);
    color: white;
    cursor: pointer;
}
.buy button strong:hover{
    background-color: rgb(255, 38, 0);
}

item-giohang{
    display: flex;
    justify-content: center;
}