*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    background-color: #EC3237;
    align-items: center;
}

.imglogo{
    width: 120px;
    height: 90px;
    margin-left: 100px; 
}
.logo{
margin-right: 200px;
color: white;
}
.search form{
    display: block;
    width: 500px;
    position: relative;
}
.search form input{
    width: 500px;
    height: 34px;
    border: none;
    font-size: 14px;
    padding: 0 60px 0 10px;
    background: #fff;
    
}


.icon-search{
    width: 50px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top :-10;
    right: 0;
    background: rgba(7, 2, 1, 0.829);
    color:white;
    cursor: pointer;
}
.icon-search:hover{
    background-color: black;
}
.gio{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
}

.content{
    display: flex;
    justify-content: space-around;
    background-color: rgba(10, 3, 1, 0.815);
    height: 50px;
    align-items: center;
}
.icon1{
    color: rgb(255, 255, 255);
}

.carousel-item{
    cursor: pointer;
}
.warp{
    flex-wrap: wrap;
    text-align: center;
    background-image: url("https://png.pngtree.com/png-clipart/20190515/original/pngtree-blue-technology-background-png-image_3722409.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.warp h3 {
    font-size: 28px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.back-to-top{
    display: block;
    position: fixed;
    bottom: 40%;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #e70d0d;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 99px;
}
.mobile{
    /* margin-top: 20px; */
    margin-bottom: 50px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-around;
}
.mb-form{
    width: 220px;
    height: 320px;
    background-color: #fff;
    border: 1px solid black;
}
a:link{
    text-decoration: none;
}
.mb-form a:hover{
    text-decoration: none;
}
a p:hover,.price strong:hover,.price strike:hover{
    color: red;
    text-decoration: none;
}

a p{
    margin-bottom: 0rem;
    font-size: 23px; 
    color: rgb(128, 76, 252);
}
.price strong{
    font-size: 20px;
    font-weight: bold;
    color: #383838;
    display: inline;
}
.price strike{
    font-size: 16px;
    color: #555353;
    display: inline;
}
.buy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.buy button strong{
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    background-color: rgba(255, 60, 0, 0.836);
    color: white;
    cursor: pointer;
}
.buy button strong:hover{
    background-color: rgb(255, 38, 0);
}
